html {
    background-image: linear-gradient(to left, rgb(21, 103, 254),rgb(37, 124, 211),  rgb(10, 124, 246));
}

#class p{
    display:inline-block;
    padding-right:15px;
    padding-left:15px;
    background-color:#7397e6;
    border-radius:8px;
    margin-right:5px;
    margin-left:5px;
    font-weight:bold;
    font-size:20px;
    position:relative;
    top:500px;
}

#class{
    position: fixed;
    text-align:center;
}

#class p:hover{
    position:relative;
    bottom:10px;
    color:#2c3343;
    background-color:#4f7fe7;
    font-weight:bold;
    border-style:solid;
    border-right-color:#111827;
    border-right-width:1px;
    border-left-color:#111827;
    border-left-width:1px;
    border-top-color:#111827;
    border-top-width:1px;
    border-bottom-color:#111827;
    border-bottom-width:1px;
    box-shadow:3px 3px 3px;
    box-shadow: 0 0 16px 4px rgba(0,0,0,0.25);
    transform: scale(1.1);
}

#class .on{
    background-color:#5f88e0;
}

#class .on:hover{
    background-color:#4c76d0;
}
